<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreamkite.pg.dao.PersonDao">
    <select id="queryPersonById" resultType="com.dreamkite.pg.entity.Person">
        <!--    <select id="queryPersonById" resultType="Person">-->
        select *
        from t_persons
        where Id_P = #{id}
    </select>

    <insert id="insertPerson">
        INSERT INTO t_persons (Id_P, LastName, FirstName, Address, City)
                VALUES (#{id}, #{lastName}, #{firstName}, #{address}, #{city})
    </insert>

    <insert id="insertPersonWithoutId" useGeneratedKeys="true" keyProperty="idP" keyColumn="id_p">
        INSERT INTO t_persons (LastName, FirstName, Address, City)
        VALUES (#{lastName}, #{firstName}, #{address}, #{city})
    </insert>

    <insert id="batchInsertPerson" parameterType="list" useGeneratedKeys="true" keyProperty="idP" keyColumn="id_p">
        INSERT INTO t_persons (LastName, FirstName, Address, City)
        VALUES
        <foreach collection="personList" item="item" index="index" separator=",">
            (
            #{item.lastName}, #{item.firstName}, #{item.address}, #{item.city}
            )
        </foreach>
        --on conflict (LastName, FirstName) DO nothing;
    </insert>

    <select id="queryFirstNameById" resultType="java.lang.String">

    </select>

    <select id="queryById" resultType="java.lang.String">
        select * from t_persons where id_p = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deletePerson">
        delete from t_persons where id_p = #{id,jdbcType=VARCHAR}
    </delete>
</mapper>